<div class="home-image-overlay uk-background-secondary uk-hidden@s uk-width-3-3 rounded-border uk-animation-fade">
  <%= image_tag 'nikhil_portfolio.jpg', class: 'uk-border-rounded uk-margin-auto-left home-image' %>
</div>
<div id="main_div" class="uk-flex uk-margin-large-top uk-margin-remove-top@m">
  <div class="uk-flex-column uk-flex-row@m">
    <div class="logo-container">
      <h1 class="page-logo">
        <span class="uk-text-emphasis uk-heading-xlarge roboto-bold uk-hidden@m">Hi, I'm</span> <span class="uk-text-success uk-heading-xlarge roboto-bold uk-hidden@m">Nikhil.</span>
        <span class="uk-text-emphasis uk-heading-large roboto-bold uk-visible@m">Hi, I'm</span> <span class="uk-text-success uk-heading-large roboto-bold uk-visible@m">Nikhil.</span>
      </h1>
    </div>
    <div>
      <p class="fade-left-text uk-hidden@s uk-heading-small roboto-thin">
        I'm a <span class="uk-text-danger roboto-bold">Rails</span> and <span class="uk-text-success roboto-bold">React</span> engineer who makes human-centric UIs and clean APIs.
        <br>Let's create something together!
      </p>
      <p class="fade-left-text uk-visible@s uk-text-large roboto-thin">
        I'm a <span class="uk-text-danger roboto-bold">Rails</span> and <span class="uk-text-primary roboto-bold">React</span> engineer who makes human-centric UIs and clean APIs.
        <br>Let's create something together!
      </p>
    </div>
    <div class="uk-button-group uk-margin uk-animation-fade uk-flex">
      <a class="uk-button uk-button-default uk-button-large" href="<%= asset_path 'nikhil_resume.pdf' %>" download="nikhil_resume.pdf">
        Resume
      </a>
      <a class="uk-button uk-button-default uk-flex uk-flex-center uk-flex-middle uk-button-large" href="https://www.linkedin.com/in/nikhil-dronamraju-154818144/" target="_blank">
        <span class="uk-icon-link navbar-home-svg" uk-icon="icon: linkedin; ratio: 1.5;"></span>
      </a>
      <a class="uk-button uk-button-default uk-flex uk-flex-center uk-flex-middle uk-button-large" href="https://github.com/nikhil-dronamraju" target="_blank">
        <span class="uk-icon-link navbar-home-svg" uk-icon="icon: github; ratio: 1.5;"></span>
      </a>
    </div>
    <a class="uk-link-reset uk-flex uk-margin-large uk-animation-toggle uk-flex-center pointer uk-visible@l" href="#about_me" uk-scroll>
      <i class="fa-solid fa-caret-down fa-2xl uk-animation-shake"></i>
    </a>
  </div>
  <div class="home-image-overlay uk-visible@s uk-background-secondary uk-width-1-4 rounded-border uk-animation-fade">
    <%= image_tag 'nikhil_portfolio.jpg', class: 'uk-border-rounded uk-margin-auto-left home-image' %>
  </div>
</div>
<hr class="uk-divider-icon">
<%= render partial: 'about_me' %>
<%= render partial: 'work_experience' %>
