<head>
  <title>Nikhil Dronamraju</title>
  <link rel="icon" type="image/x-icon" href="<%= image_path 'favicon.ico' %>">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <!-- begin:: UIkit  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.16/dist/css/uikit.min.css">
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.16/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.16/dist/js/uikit-icons.min.js"></script>
  <!-- end:: UIKit -->

  <!-- begin:: Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <!-- end:: Google Fonts -->

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- end:: jquery -->
  <%= stylesheet_link_tag 'static.css', "data-turbo-track": "reload" %>

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/997a973c8d.js" data-mutate-approach="sync" crossorigin="anonymous"></script>
</head>
<body uk-parallax="background-color: black; color: white; end: 60%;" class="uk-flex uk-flex-column uk-flex-between">
    <div class="uk-container uk-margin-remove">
      <nav class="uk-navbar-container uk-navbar-transparent uk-animation-fade" uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <!-- Home Icon -->
            <li class="uk-active">
              <a href="<%= root_path %>">
                <%= inline_svg_tag 'n.svg', class: 'home-icon-svg' %>
              </a>
            </li>
            <!-- TODO:: Add more navbar tabs here, toggle icon active active state -->
          </ul>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li>
              <a href="<%= work_experience_path %>">Work experience</a>
            </li>
            <li>
              <a href="<%= projects_path %>">Projects</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <%= yield %>

    <div class="uk-invisible@l uk-margin-large-top" uk-grid>
      <div><i class="fa-solid fa-2xl fa-gem uk-padding"></i></div>
      <div><i class="fa-brands fa-2xl fa-java uk-padding"></i></div>
      <div><i class="fa-brands fa-2xl fa-js uk-padding"></i></div>
      <div><i class="fa-brands fa-2xl fa-python uk-padding"></i></div>
      <div><i class="fa-brands fa-2xl fa-react uk-padding"></i></div>
      <div><i class="fa-brands fa-2xl fa-android uk-padding"></i></div>
      <div><i class="fa-brands fa-2xl fa-jenkins uk-padding"></i></div>
      <div><i class="fa-brands fa-2xl fa-docker uk-padding"></i></div>
      <div><i class="fa-solid fa-2xl fa-database uk-padding"></i></div>
      <div><i class="fa-brands fa-2xl fa-aws uk-padding"></i></div>
    </div>

    <div class="container uk-flex uk-visible@l">
      <div>
        <i class="fa-solid fa-2xl fa-gem uk-padding"></i>
        <i class="fa-brands fa-2xl fa-java uk-padding"></i>
        <i class="fa-brands fa-2xl fa-js uk-padding"></i>
        <i class="fa-brands fa-2xl fa-python uk-padding"></i>
        <i class="fa-brands fa-2xl fa-react uk-padding"></i>
        <i class="fa-brands fa-2xl fa-android uk-padding"></i>
        <i class="fa-brands fa-2xl fa-jenkins uk-padding"></i>
        <i class="fa-brands fa-2xl fa-docker uk-padding"></i>
        <i class="fa-solid fa-2xl fa-database uk-padding"></i>
        <i class="fa-brands fa-2xl fa-aws uk-padding"></i>
      </div>
    </div>
</body>
